[Unit]
Description=Spring Boot Adoption App
After=network.target

[Service]
User=root
WorkingDirectory=/opt/adoption-app
ExecStart=/usr/bin/java -jar /opt/adoption-app/target/*.jar
SeccessExitStatus=143
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target