[Unit]
Description=Spring Boot Adoption App
After=network.target

[Service]
User=root
WorkingDirectory=/opt/ds-lab-2024-0.0.1-SNAPSHOT.jar
ExecStart=/usr/bin/java -jar /opt/ds-lab-2024-0.0.1-SNAPSHOT.jar/target/ds-lab-2024-0.0.1-SNAPSHOT.jar 
SeccessExitStatus=143
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target